* {
    box-sizing: border-box;
}
@media only screen and (min-width: 330px) and (max-width: 720px){
    .globalContainer{width: 100%;}
    .btn_ovl{font-size: 1.2em;}
    .mrg_top{margin-top:5%}
    .mrg_btm{margin-bottom: 10%;}
    /*NAV*/
    .menu{width:90%; display: block;background: #ffffffce;font-size: 2.1em;}
    header nav {background: #dbedffb6;width: 80%;height: 100%;margin: 0;left: -100%;position: fixed;z-index: 99;display: flex;flex-direction: column;}
    .sub-nav{display: none;flex-direction: column;position: relative;}
    .logomenu{width: 20%;height: auto;margin: 2% 0 0 2%;}
    .logomenunav{display: none;}
    .icon-menu{float: right;margin: 0 0 0 0;}
    .btn_ovl_mov{display:inline-block;text-decoration: none;background-color: #60FFB5;color: #0e0c0c;border-radius: 25px;padding: 10px 5px;text-align: center;font-size: 1em;box-shadow: 0 0 5px 1px #ababab;transition-duration: 0.8;}
    .btn_ovl_mov:hover{background: #0e0c0c;color: #dbedff;border: none;}
    .btn_ovl_50{width: 50%;}
    .bt-menu{text-decoration: none;float: right;color: #0e0c0c;}
    /*HOME*/
    .homeContainer{height: auto;padding:15% 0;display: flex;flex-direction: column-reverse;align-items: center;justify-content: center;}
    .tt1, .tt1_1{font-size: 2.5em;}
    .btn_a{font-size: 1.12em;margin-bottom: 5%;}
    .homeTitle{width: 100%;}
    .tt1{margin-bottom: -7%;}
    .homeLogo{width: 60%;margin: 5% 0;}
    /*ABOUT*/
    .abtContainer{height: auto;padding:10% 0;display: flex;flex-direction: column-reverse;}
    .abtTxt{text-align: center;width: 90%;height: auto;padding: 0;}
    .abtTxt p{text-align:center;float:none;width: 100%;line-height: 1.8;font-size: 0.8em;}
    .abtImg{margin-right: 6%;width: 50%;margin-top: 10%;}
    .abt_btn{width:auto;float:none;}
    .floatSecc{width: 90%;}
    .floatSeccInt{overflow-y: auto;max-height: 80vh;width: 100%; font-size: 0.8em;}
    .floatSeccClose{float:none;margin-bottom: 4%;}
    /*COMPLEMENT*/
    .complContainer{height: auto;padding:15% 0;display: flex;flex-direction: column;}
    .bck_1a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_brain.gif");background-size: cover;}
    .bck_2a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_energy.gif");background-size: cover;}
    .bck_3a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_medit.gif");background-size: cover;}
    .compElemnt{width: 100%;height: auto;border-radius: 0;margin-left:0;padding: 10% 0;font-size: 0.8em;}
    .elmnCont{width: 100%;text-align: center;flex-direction: column;}
    .compElemnt{margin-top:5%;display:flex;flex-direction:row;align-items: center;}   
    .separator{width: 100%;color: #c6ffe3;text-shadow: 0 0 5px #01311a, 0 0 8px #ffffff}
    .compElemnt p{font-size: 1.4em;}.compElemnt h4{font-size: 1.6em;}
    /*BLOGG*/
    .art_cont p{font-size: 0.8em;padding:0;width: 90%;}
    .col_p{column-count:2;column-gap:20px;}
    .sectCont{margin: 0;width: 100%;padding: 0;}
    .art_cont{margin: 0;padding: 0 2%; width: 94%;}
    .art_cont h1, .art_cont h2, .art_cont h3, .art_cont h4, .art_cont h5{width:90%;text-align: center;}
    /**/
    .prdtsContainer{height: auto;padding:10% 0;display: flex;flex-direction: column;}
    .prdtsContainer h1{color: #c6ffe3;text-shadow: 0 3px 8px #ffffff;}
    .prdtsElmntContainer{padding: 0;flex-direction: column;width: 100%;border-radius: 0;}
    .prdtsElmntIntr{width: 100%;}

    .prdtsElmntIntr p {font-size: 1.4em;margin-bottom: 0;}
    .prdtsElmnt{height: auto; width: 100%;padding-bottom:5%;border-radius: 0;margin: 5px 0 0 0;}
    /*FORM*/
    .cntcCont{align-items: center;}
    .ContForm{margin-left: 0;}
    .imgCnt{display: none;}
    .ContForm{width: 100%;}
    /*FOOTER*/
    .ftr{width:100%;display: flex;flex-direction: column;align-items: center; height: auto;font-size: 0.5em;margin-top: 50px;}
    .ftrLft, .ftrCnt, .ftrRgt{width: 100%;margin-bottom: 20px;z-index: 3;}
    .ftrLft{z-index:2;font-size: 2em;height: 20vh;padding: 0;}
    .ftrRgtCont{display: none;}
    .ftrRgtContMin{display:flex;flex-direction:column;height: auto;;}
    .ftrRgtContMin img{width: 100%;filter:drop-shadow(0 0 8px  #969495)drop-shadow(0 0 8px  #000)}
    .ftrCnt{flex-direction: column;}
    .ftrBnr{font-size: 4em;}
    .navElmnt{font-weight: bold;}
    /*AudioPK*/
    .selectorCont{width: 100%;height: auto;display: flex;flex-direction: column;margin-top: 0;padding:0;}
    .selectorContMain{width:100%;padding: 0; height: auto;display: flex;justify-content: top;flex-direction: column;
    background-image:linear-gradient(to right,rgba(240,240,240,0.1),rgba(240,240,240,0.8),rgb(255, 255, 255))}
    .conMainTitl{font-size: 1.2em;}
    .conMainTitl h1{margin-bottom: -2%;}
    .conMainTitl h2{background-color: #000;color: #fff;}
    .contMainTxt{float: center; font-size: 0.9em;}
    .contMainTxt h5{font-size: 0.9em;}
    .selContLst{width: 100%;padding: 0;margin: 0;}
    .showCont{font-size: 0.9em;padding: 0; position: absolute;background-color: #0e0c0c;width: 100%;}
    .maLstA p, .maLstB p, .maLstC p, .maLstD p, .maLstE p{width: 90%;margin-left:5%}
    .maLstA, .maLstB, .maLstC, .maLstD, .maLstE, .maLstF, .maLstG, .maLstH{overflow-y: auto;max-height: 115vh;
        text-align:center;left:1%; width: 98%;-webkit-transition: all 1s ease 0;-moz-transition: all 1s ease 0;-o-transition: all 1s ease 0;-ms-transition: all 1s ease 0;transition: all 1s ease 0s;border-radius: 0px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;z-index: -1;position: absolute;}
    #maLstA:target .maLstA, 
    #maLstB:target .maLstB, 
    #maLstC:target .maLstC, 
    #maLstD:target .maLstD, 
    #maLstE:target .maLstE,
    #maLstE:target .maLstF,
    #maLstE:target .maLstG, 
    #maLstE:target .maLstH{margin-top:5%; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;visibility: visible;z-index: 6;padding: 0;}
    .sel_cont{width: 90%;left:5%;padding: 0;z-index: 99;}
    .menu_circle-toggler + label {
        width:55%;height: auto;padding: 1%;
        font-size: 1.2em;}
    /*Acordeon*/
    .acordeon{width: 100%;margin:0;}
    .acordeon div p{padding: 2%; font-size: 1em;}
}
    
@media only screen and (min-width: 721px) and (max-width: 924px){
    .btn_ovl{font-size: 1em;}
    /*NAV*/
    .menu{display: block;background: #ffffffce;font-size: 2.3em;height: 50px;}
    header nav {background: #dbedffb6;width: 30%;height: 100%;margin: 0;left: -100%;position: fixed;z-index: 99;display: flex;flex-direction: column;}
    .sub-nav{display: none;flex-direction: column;position: relative;}
    .logomenu{width: 20%;height: 30px;margin: 5px 0 0 2%;}
    .logomenunav{display: none;}
    .icon-menu{float: right;margin: 0 0 0 0;}
    .btn_ovl_mov{text-decoration: none;background-color: #60FFB5;color: #0e0c0c;border-radius: 25px;padding: 0;text-align: center;font-size: 1em;box-shadow: 0 0 5px 1px #ababab;transition-duration: 0.8;}
    .btn_ovl_mov:hover{background: #0e0c0c;color: #dbedff;border: none;}
    .bt-menu{text-decoration: none;float: right;color: #0e0c0c;margin-right: 3%;}
    /*HOME*/
    .homeContainer{height: 120vh;padding:3% 0;display: flex;flex-direction: column-reverse;align-items: center;justify-content: center;}
    .tt1, .tt1_1{font-size: 2.5em;}
    .btn_a{font-size: 1.12em;margin-bottom: 5%;}
    .homeTitle{width: 100%;}
    .tt1{margin-bottom: -2%;}
    .homeLogo{width: 40%;margin: 5% 0 0 5%;}
    /*ABOUT*/
    .abtTxt{text-align: center;width: 90%;height: auto;padding: 0;}
    .abtTxt p{text-align:center;float:none;width: 100%;line-height: 2em;font-size: 1em;}
    .abtContainer{height: auto;padding:10% 0;display: flex;flex-direction: column-reverse;}
    .abtImg{margin-right: 6%;width: 50%;margin-top: 10%;}
    .abt_btn{width:auto;float:none;}
    .floatSecc{width: 90%;}
    .floatSeccInt{overflow-y: auto;max-height: 80vh;width: 100%; font-size: 1em;}
    .floatSeccClose{float:none;margin-bottom: 4%;}
    /*COMPLEMENT*/
    .complContainer{height: auto;padding:15% 0;display: flex;flex-direction: column;}
    .bck_1a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_brain.gif");background-size: cover;}
    .bck_2a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_energy.gif");background-size: cover;}
    .bck_3a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_medit.gif");background-size: cover;}
    .compElemnt{width: 100%;height: auto;border-radius: 0;margin-left:0;padding: 6% 0;font-size: 0.8em;}
    .elmnCont{width: 100%;text-align: center;flex-direction: column;}
    .compElemnt{margin-top:20px;display:flex;flex-direction:row;align-items: center;}   
    .compElemntDiv_a{display: none;}
    .separator{width: 100%;color: #c6ffe3;text-shadow: 0 0 5px #01311a, 0 0 8px #ffffff}
    .compElemnt p{font-size: 1.4em;}.compElemnt h4{font-size: 1.6em;}
    /*BLOGG*/
    .art_cont p{font-size: 0.8em; width: 90%; padding:0;}
    .col_p{column-count:2;column-gap:20px;}
    /**/
    .prdtsContainer{height: auto;padding:3% 0;display: flex;flex-direction: column;}
    .prdtsContainer h1{color: #c6ffe3;text-shadow: 0 3px 8px #ffffff;}
    .prdtsElmnt_a{display: none;}

    .prdtsElmntContainer{padding: 0;flex-direction: column;width: 100%;border-radius: 0;}
    .prdtsElmntIntr{width: 100%;text-align: center;}
    .prdtsElmntIntr p {font-size: 1.4em;margin-bottom: 0;}
    .prdtsElmnt{width: 100%;padding-bottom:5%;border-radius: 0;margin: 5px 0 0 0;}
    /*FORM*/
    .cntcCont{align-items: center;}
    .ContForm{margin-left: 25%;}
    .imgCnt {display: none;}
    /*FOOTER*/
    .ftr{width:100%;display: flex;flex-direction: column;align-items: center; height: auto;font-size: 0.5em;margin-top: 50px;}
    .ftrLft, .ftrCnt, .ftrRgt{width: 100%;margin-bottom: 20px;z-index: 3;}
    .ftrLft{z-index:2;font-size: 2em;height: 20vh;padding: 0;}
    .ftrRgtCont{display: none;}
    .ftrRgtContMin{display:flex;flex-direction:column;height: auto;;}
    .ftrRgtContMin img{width: 100%;filter:brightness(50%)drop-shadow(0 0 8px  #00fea9)drop-shadow(0 0 8px  #fff)}
    .ftrCnt{flex-direction: column;}
    .ftrBnr{font-size: 4em;}
    .navElmnt{font-weight: bold;}
        /*AudioPK*/
    .selectorCont{width: 100%;height: auto;display: flex;flex-direction: column;margin-top: 0;padding:0;}
    .selectorContMain{width:96%;padding: 2%; height: auto;display: flex;justify-content: top;flex-direction: column;
    background-image:linear-gradient(to right,rgba(240,240,240,0.1),rgba(240,240,240,0.8),rgb(255, 255, 255)), url("../img/secc/abundante.jpg");background-position:left;background-size:cover;}
    .conMainTitl{text-align: right;font-size: 1.2em;}
    .conMainTitl h1{margin-bottom: -2%;}
    .conMainTitl h2{background-color: #000;color: #fff;}
    .contMainTxt{float: right; font-size: 0.9em; text-align: right;}
    .contMainTxt h5{font-size: 0.9em;}
    /*SELECTOR*/
    .selectorCont{margin-top: 0;}
    .circleSelector{display:none;z-index:5;background-image:linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63));position:absolute; margin-top:10%;left:35%;border-radius:250px;border:1px solid green;width: 30%;flex-wrap: wrap;flex-direction: column;align-items: center; justify-content: center;}
    .OptSelect{text-align: center;}
    .OptSelect:hover{text-shadow: 0 0 8px #fff;}
    .OptSelect a{text-decoration: none;color:#fff;}
    .OptSelect span a i{font-size: 2em;margin-left: 20%;}
    .optClose{position:absolute;}
    .optSelA_a{margin:7% 0 0 0;}
    .optSelA_b{margin: 20% 0 0 -65%;}
    .optSelA_c{margin: -12% 0 0 65%;}
    .optSelA_d{margin: 20% 0 7% 0;}
    .optSelB_a{margin:15% 0 0 0;}
    .optSelB_b{margin: -15% 55% 0 0;}
    .optSelB_c{margin: -27% 0 0 55%;}
    .optSelB_d{margin: 15% 55% 0 0;}
    .optSelB_e{margin: -32% 0 0 60%;}
    .optSelB_f{margin: 0 -5% 0 0;}
    .optSelB_g{margin: -18% 0 4% 35%;}
}

@media only screen and (min-width: 925px) and (max-width: 1200px){
    /*HOME*/
    .homeContainer{box-shadow: 0 5px 10px #ababab;width: 100%;height: 100vh;position: relative;display: flex;flex-direction:row; align-items: center;justify-content: center;}
    .tt1, .tt1_1{font-size: 2.5em;}
    .btn_a{font-size: 1.12em;margin-bottom: 5%;}
    .homeTitle{width: 40%;}
    .tt1{margin-bottom: -2%;}
    .homeLogo{width: 40%;margin: 5% 5% 1% 5%;}
    /*ABOUT*/
    .abtTxt{text-align: center;width: 60%;height: auto;padding: 0;}
    .abtTxt p{text-align:center;float:none;width: 90%;line-height: 2em;font-size: 1.1em;}
    .abtContainer{height: auto;padding:10% 0;display: flex;flex-direction: row;}
    .abtImg{margin-right: 6%;width: 40%;margin-top: 10%;}
    .abt_btn{width:auto;float:none;}
    .floatSecc{width: 90%;}
    .floatSeccInt{overflow-y: auto;max-height: 80vh;width: 100%; font-size: 1em;}
    .floatSeccClose{float:none;margin-bottom: 4%;}
    /*COMPLEMENT*/
    .complContainer{height: auto;padding:15% 0;display: flex;flex-direction: column;}
    .bck_1a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_brain.gif");background-size: cover;}
    .bck_2a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_energy.gif");background-size: cover;}
    .bck_3a{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_medit.gif");background-size: cover;}
    .compElemnt{width: 100%;height: auto;border-radius: 0;margin-left:0;padding: 6% 0;font-size: 0.8em;}
    .elmnCont{width: 100%;text-align: center;flex-direction: column;}
    .compElemnt{margin-top:20px;display:flex;flex-direction:row;align-items: center;}   
    .compElemntDiv_a{display: none;}
    .separator{width: 100%;color: #c6ffe3;text-shadow: 0 0 5px #01311a, 0 0 8px #ffffff}
    .compElemnt p{font-size: 1.4em;}.compElemnt h4{font-size: 1.6em;}
    /*BLOGG*/
    .art_cont p{font-size: 0.8em; width: 90%; padding:0;}
    .col_p{column-count:2;column-gap:20px;}
    /**/
    .prdtsContainer{height: auto;padding:3% 0;display: flex;flex-direction: column;}
    .prdtsContainer h1{color: #c6ffe3;text-shadow: 0 3px 8px #ffffff;}
    .prdtsElmnt_a{display: none;}
    .prdtsElmntContainer{padding: 0;flex-direction: column;width: 100%;border-radius: 0;}
    .prdtsElmntIntr{width: 100%;}
        /*PROD*/
    .prdtsElmntA{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img3.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntB{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img5.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntC{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img6.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntD{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img7.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntE{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img8.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntF{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img9.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntG{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img10.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
    .prdtsElmntIntr p {font-size: 1.4em;margin-bottom: 0;}
    .prdtsElmnt{height: auto; width: 100%;padding-bottom:5%;border-radius: 0;margin: 5px 0 0 0;}
    /*FORM*/
    .cntcCont{align-items: center;}
    .ContForm{margin-left: 25%;}
    .imgCnt {display: none;}
    /*FOOTER*/
    .ftr{width:100%;display: flex;flex-direction: column;align-items: center; height: auto;font-size: 0.5em;margin-top: 50px;}
    .ftrLft, .ftrCnt, .ftrRgt{width: 100%;margin-bottom: 20px;z-index: 3;}
    .ftrLft{z-index:2;font-size: 2em;height: 20vh;padding: 0;}
    .ftrRgtCont{display: none;}
    .ftrRgtContMin{display:flex;flex-direction:column;height: auto;;}
    .ftrRgtContMin img{width: 100%;filter:brightness(50%)drop-shadow(0 0 8px  #00fea9)drop-shadow(0 0 8px  #fff)}
    .ftrCnt{flex-direction: column;}
    .ftrBnr{font-size: 4em;}
    .navElmnt{font-weight: bold;}
        /*AudioPK*/
    .selectorCont{width: 100%;height: auto;display: flex;flex-direction: column;margin-top: 0;padding:0;}
    .selectorContMain{width:96%;padding: 2%; height: auto;display: flex;justify-content: top;flex-direction: column;
    background-image:linear-gradient(to right,rgba(240,240,240,0.1),rgba(240,240,240,0.8),rgb(255, 255, 255)), url("../img/secc/abundante.jpg");background-position:left;background-size:cover;}
    .conMainTitl{text-align: right;font-size: 1.2em;}
    .conMainTitl h1{margin-bottom: -2%;}
    .conMainTitl h2{background-color: #000;color: #fff;}
    .contMainTxt{float: right; font-size: 0.9em; text-align: right;}
    .contMainTxt h5{font-size: 0.9em;}
    /*SELECTOR*/
    .selectorCont{margin-top: 0;}
    .circleSelector{display:none;z-index:5;background-image:linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63));position:absolute; margin-top:10%;left:35%;border-radius:250px;border:1px solid green;width: 30%;flex-wrap: wrap;flex-direction: column;align-items: center; justify-content: center;}
    .OptSelect{text-align: center;}
    .OptSelect:hover{text-shadow: 0 0 8px #fff;}
    .OptSelect a{text-decoration: none;color:#fff;}
    .OptSelect span a i{font-size: 2em;margin-left: 20%;}
    .optClose{position:absolute;}
    .optSelA_a{margin:7% 0 0 0;}
    .optSelA_b{margin: 20% 0 0 -65%;}
    .optSelA_c{margin: -12% 0 0 65%;}
    .optSelA_d{margin: 20% 0 7% 0;}
    .optSelB_a{margin:7% 0 0 0;}
    .optSelB_b{margin: -5% 50% 0 0;}
    .optSelB_c{margin: -22% 0 0 50%;}
    .optSelB_d{margin: 10% 50% 0 0;}
    .optSelB_e{margin: -26% 0 0 55%;}
    .optSelB_f{margin: 0 5% 0 0;}
    .optSelB_g{margin: -18% 0 4% 35%;}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
   /*ABOUT*/
   .abtTxt{text-align: center;width: 60%;height: auto;padding: 0;}
   .abtTxt p{text-align:center;float:none;width: 90%;line-height: 2em;font-size: 1.2em;}
   .abtContainer{height: auto;padding:10% 0;display: flex;flex-direction: row;}
   .abtImg{margin-right: 6%;width: 40%;margin-top: 10%;}
   .abt_btn{width:auto;float:none;}
   .floatSecc{width: 90%;}
   .floatSeccInt{overflow-y: auto;max-height: 80vh;width: 100%; font-size: 1em;}
   .floatSeccClose{float:none;margin-bottom: 4%;}
   /*COMPLEMENT*/
   .complContainer{height: auto;padding:15% 0;display: flex;flex-direction: column;}
   .compElemnt{height: auto;}

   /*BLOGG*/
   .art_cont p{font-size: 0.8em; width: 90%; padding:0;}
   .col_p{column-count:2;column-gap:20px;}
   /*FOOTER*/

   /*SELECTOR*/
   .selectorCont{margin-top: 0;}
   .circleSelector{display:none;z-index:5;background-image:linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63));position:absolute; margin-top:10%;left:35%;border-radius:250px;border:1px solid green;width: 30%;flex-wrap: wrap;flex-direction: column;align-items: center; justify-content: center;}
   .OptSelect{text-align: center;}
   .OptSelect:hover{text-shadow: 0 0 8px #fff;}
   .OptSelect a{text-decoration: none;color:#fff;}
   .OptSelect span a i{font-size: 2em;margin-left: 20%;}
   .optClose{position:absolute;}
   .optSelA_a{margin:7% 0 0 0;}
   .optSelA_b{margin: 20% 0 0 -65%;}
   .optSelA_c{margin: -12% 0 0 65%;}
   .optSelA_d{margin: 20% 0 7% 0;}
   .optSelB_a{margin:7% 0 0 0;}
   .optSelB_b{margin: -5% 50% 0 0;}
   .optSelB_c{margin: -22% 0 0 50%;}
   .optSelB_d{margin: 10% 50% 0 0;}
   .optSelB_e{margin: -26% 0 0 55%;}
   .optSelB_f{margin: 0 5% 0 0;}
   .optSelB_g{margin: -18% 0 4% 35%;}
}