/*COLORS*/
/*
#0e0c0c : BLACK;
#dbedff : WHITE;
#60FFB5: GREEN;
#536f8a2c: TRANSPARENT;
background-image: linear-gradient(40deg,rgb(131, 226, 255),rgba(255, 255, 255, 0.979));
background-size: cover;background-attachment: fixed;
*/
html{scroll-behavior: smooth;}
body{margin:0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:url('../img/backmin.jpg') no-repeat fixed center;}
    * {
      box-sizing: border-box;
  }
/*GLOBAL*/
.dspl_flx{display:flex;}
.dspl_blk{display:block;}
/*MAIN-DISPLAYS*/
  /*FLEX*/
  .dspl_flx_row{display:flex;flex-direction: row;}
  .dspl_flx_col{display:flex;flex-direction: column;align-items: center;justify-content: center;}

  /*WIDTH*/
.wdt_10{width: 10%;}
.wdt_20{width: 20%;}
.wdt_30{width: 30%;}
.wdt_40{width: 40%;}
.wdt_50{width: 50%; margin-left: 25%;}
.wdt_60{width: 60%;}
.wdt_70{width: 70%;margin-left: 15%;}
.wdt_80{width: 80%;margin-left: 10%;}
.wdt_90{width: 90%;}
.wdt_100{width: 100%;}
.min_hgt_100{height: 100vh;}

/*MARGINS*/
.mrg_1{margin: 1%;}
.mrg_2{margin: 2%;}
.mrg_3{margin: 3%;}
.mrg_4{margin: 4%;}
.mrg_5{margin: 5%;}
.mrg_6{margin: 6%;}
.mrg_7{margin: 7%;}
.mrg_8{margin: 8%;}
.mrg_9{margin: 9%;}
.mrg_10{margin: 10%;}
.mrg_rgth_30{margin-right: 30%;}
.mrg_btm_2{margin-bottom: 2%;}
.mrg_btm_4{margin-bottom: 4%;}
.mrg_btm_6{margin-bottom: 6%;}
.mrg_btm_8{margin-bottom: 8%;}
.mrg_btm_10{margin-bottom: 10%;}
.mrg_btm_15{margin-bottom: 15%;}
.mrg_btm_20{margin-bottom: 20%;}
.mgn_tp_2{margin-top: 2%;}
.mgn_tp_5{margin-top: 5%;}
.mgn_tp_10{margin-top: 10%;}
.mgn_tp_15{margin-top: 15%;}
.mgn_tp_20{margin-top: 20%;}

/*PADDING*/
.pdn_1{padding: 1%}
.pdn_2{padding: 2%}
.pdn_4{padding: 4%}
.pdn_5{padding: 5%}
.pdn_8{padding: 8%}
.pad_h_2{padding-right:2%;padding-left: 2%;}
.pad_h_4{padding-right:4%;padding-left: 4%;}
.pad_h_6{padding-right:6%;padding-left: 6%;}
.pad_h_8{padding-right:8%;padding-left: 8%;}
.pad_h_10{padding-right:10%;padding-left:10%;}
.pad_v_05{padding-top:0.5%;padding-bottom: 0.5%;}
.pad_v_{padding-top: 1%;padding-bottom: 1%;}
.pad_v_2{padding-top: 2%;padding-bottom: 2%;}
.pad_v_4{padding-top: 4%;padding-bottom: 4%;}
.pad_v_6{padding-top: 6%;padding-bottom: 6%;}


/*BUTTONS*/
.mint_shdw_btn{box-shadow: 0 0 4px #a7a7a7, 0 0 8px #60FFB5;}
.mint_shdw_btn:hover{box-shadow: 0 0 4px #363333, 0 0 8px #1d5038;cursor: pointer;}

.txt_wht{color:#fff;}
.txt_blk{color:#000;}
.red_bkgnd{background: red;}
.blk_bkgnd{background: black;}
.wht_bkgnd{background: white;}
.wht_bkg_80{background: rgba(255, 255, 255, 0.82);}
.mint_bck{background-color: #60FFB5;}
.test{border-left:14px solid #fff;border-top:34px solid #fff;}

.blck_ten_bkgnd{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63));}
.drk_ten_bkgnd{background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(17, 13, 12, 0.93));}
.wht_ten_bkgnd{background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.575));}
.mrg_blc{border:1px solid #000;}
.mrg_red{border:1px solid #f00;}
.mrg_blu{border:1px solid rgb(0, 38, 255);}
.mrg_grn{border:1px solid rgb(0, 255, 34);}
.mrg_box{background: rgba(243,245,248,0.6); border-radius:20px;box-shadow:0 0 8px #a6a6a6;}
.gray_shdw{box-shadow: 0 0 4px #a7a7a7, 0 0 8px #5f5f5f;}
.mint_shdw{box-shadow: 0 0 4px #a7a7a7, 0 0 8px #60FFB5;}
.ten_shdw{box-shadow: 0 0 2px 2px #ababab;}

.globalContainer{width: 100%;height: 100hv;}
.btn_a{text-decoration: none;background-color: #60FFB5;color: #0e0c0c;padding: 8px 22px;border-radius: 30px;text-align: center;font-weight: bold;font-size: 1.6em;box-shadow: 0 0 15px #ababab;transition-duration: 0.8;}
.btn_a:hover{background: #0e0c0c;color: #dbedff;border: none;}
.btn_ovl{text-decoration:none;text-align: center; background-color: #60FFB5;color: #0e0c0c;border-radius: 40px;}
/*.btn_ovl{text-decoration: none;margin-bottom:5%;background-color: #60FFB5;color: #0e0c0c;border-radius: 40px;padding: 2%;text-align: center;font-size: 1em;box-shadow: 0 0 5px 1px #ababab;transition-duration: 0.8;}*/
.btn_ovl:hover{background: #0e0c0c;color: #dbedff;border: none;}
.btn_buy{text-decoration: none;background: #00fea9;color:#0e0c0c;padding: 2% 4%;border-radius: 25px;}
.btn_buy:hover{background-color: #0e0c0c;color: #dbedff;}
.seccTitl{margin-bottom:5%;text-align: center;font-weight:normal;color:#fff;}
.floatSecc{display:none;opacity: 0; color:#fff;width: 50%; height: auto;position: absolute; z-index:5;padding:1% 5%;transition: all 0.5s ease 0s;border-radius: 0px;}
.floatSeccInt{font-size: 1.3em;text-align: justify;}
.floatSeccClose{float:right;}
.floatSeccClose button{font-size:1.5em; border:none;background: none;color:#60FFB5;font-weight: bolder;}
i{margin-right: 10px;}
/*MOBILENAV*/.menu {display: none;}
/*NAVIGATIONBAR*/
.usr_name{padding: 8px;margin: 5px;}
.exit{padding: 8px;margin: 5px;}
.exit:hover{background-color: #60FFB5;border-radius: 25px;}
.exit a{text-decoration: none;color: #0e0c0c;}
#navigator{z-index: 99;position: fixed;background:#ffffff;width: 100%;display:block;transition: top 0.8s;}
.menu{display:none;}nav{display: flex;flex-direction: row;float: right;}
.nav-elmt a{width: auto;color:#0e0c0c;margin: 5px;padding: 8px;display: block;text-decoration:none;transition-duration: 0.9s;}
.nav-elmt a:hover{background-color: #60FFB5;border-radius: 25px;}
.sub-nav-opt{display: none;position: absolute;z-index: 5;}
.subNavSub:hover .sub-nav-opt{background:#fff;box-shadow:0 0 4px#ababab;display: flex;flex-direction: column;width: 280px;}
.subNav{position: relative;}.sub-nav{display: none;position: absolute;z-index: 5;}
.subNav:hover .sub-nav{ background:#fff;box-shadow:0 0 4px#000000;display: flex;flex-direction: column;width: 280px;}
.sub-nav a:hover{background: #00fea9;color: #0e0c0c;border-radius: 0;}
/*HOME*/
.homeContainer{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.404),rgb(0, 0, 0)),url("../img/background.gif");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: fixed;
  }
.homeContainer{box-shadow: 0 5px 10px #ababab;width: 100%;height: 100vh;position: relative;display: flex;flex-direction:row; align-items: center;justify-content: center;}
.homeTitle{width: auto;height: auto;display: flex;flex-direction: column;align-items: center;}
.tt1, .tt1_1{text-align: center;font-size: 3.4em;color: #dbedff;font-weight:lighter;margin-bottom: -10%;}.tt1_1{margin-bottom: 15%;font-weight:bolder;}
.homeLogo{width: 35%;height: auto;display: flex;align-items: center;margin: 8%;}.startImg{width: 100%;height: auto;}
/*ABOUT*/
.abtContainer{background:#ffffff;width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;}
.abtTxt{width: 30%;height: auto;padding: 5% 0 5% 5%; text-align: right; position: relative;display: inline-block;}
.abtTxt p{width: 90%;float:right; line-height: 1em;font-size: 1.3em;text-align: right;margin-bottom: 50px;}
.abtImg{width: 36%;height: auto;position: relative;display: flex;align-items: center;}
/*COMPLEMENTO*/
.complContainer{text-shadow:0 0 4px #60FFB5;width: 100%;height: 100vh;display: flex;flex-direction:column; align-items: center;justify-content: center;}
.elmnCont{width: 100%;display: flex;align-items: center;justify-content: center;}
.compElemnt{box-shadow: 0 0 15px #ababab;width: 30%;background: #ffffff;display: inline-block;padding: 1% 0 3% 0;margin-left: 2%;text-align: center;align-items: center;justify-content:center;border-radius: 0 25px 0 25px;}
.compElemntDiv_b{width:100%;height:auto;margin-bottom: 5%; }
.compElemntDiv_b h4{color:#00fea9;text-shadow:0 0 4px #24503b,0 0 6px #fff;}
.compElemntDiv_c{width:100%;height:5vh;margin-top: 5%;}
.bck_1a{height: 40vh;background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_brain.gif");background-size: cover;}
.bck_2a{height: 60vh;background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_energy.gif");background-size: cover;}
.bck_3a{height: 40vh;background-image: linear-gradient(to bottom, rgb(23, 23, 23),rgba(7, 63, 42, 0.63)),url("../img/back_medit.gif");background-size: cover;}
.compElemnt p{color:#fff;margin-left: 15%;width: 70%;text-align: center;margin-bottom: 5%;}
.compElemnt h4{font-size: 1.6em;}
.compElemntDiv_c a{font-size: 1.2em;}
/*PRODUCTOS*/
.prdtsContainer{background:#ffffff;width: 100%;height: auto;display: flex;justify-content: center;flex-direction: column;align-items: center;padding: 4% 0 4% 0;}
.prdtsElmntContainer{width: 90%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
.prdtsElmnt{box-shadow:0 0 5px #ababab;width: 22%;height: 50vh;color:#0e0c0c;background: #ffffff;margin-top:2%;padding-top: 1%;padding-bottom: 2%;margin-left: 2.5%;text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: center;border-radius: 30px 30px 15px 15px;}
.prdtsElmntA{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img3.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntB{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img5.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntC{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img6.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntD{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img7.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntE{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img8.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntF{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img9.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntG{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img10.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmntH{background-image: linear-gradient(to bottom, rgb(93, 93, 93),rgba(7, 63, 42, 0.3)),url('../img/elmnt/img2.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;}
.prdtsElmnt_a,.prdtsElmnt_b,.prdtsElmnt_c{width: 100%;height: auto;padding: 2% 0 2% 0}.prdtsElmntIntr img{width: 80%;height: auto;border-radius: 15px;}
.prdtsElmntIntr p{color:#fff;text-shadow:0 0 9px #13d896d3; width: 100%;text-align: center;}.prdtsElmntIntr a{margin-top: 5%;}
/*BLOG*/
.sectCont{width:90%; height: auto;display:flex;flex-direction:column; justify-self: center;margin-left: 5%; padding: 2% 2%;}
.art_cont{display: flex;align-items: center;width: 90%;padding: 2% 2%;text-align: justify;justify-content: center;}
.art_cont p{width: 70%;font-size: 1.2em;line-height: 1.5em;margin-left: 2%;}
.col_p{column-count:3;column-gap:40px;}
.art_h{flex-direction: row;}
.art_v{flex-direction: column;}
.colCont{width: 33.3%;}
/*CONTACTUS*/
.contactContainers{width: 100%; display: flex;flex-direction: column;text-align: center;align-items: center;}
.ContForm{width: 50%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.ContForm h2{margin:0;width:70%;padding:1% 0 2% 0;}
.cntcCont{ display: flex;flex-direction: row;}
.cntcFrm{width: 60%;display: flex;align-content: center;flex-wrap: wrap;justify-content: center;}
.inp-col-40{width: 40%;}
.inp-col-80{width: 80%;}
.inp-col-76{width: 76%;}
.frmLbl{text-align:center;white-space: wrap;padding: 1%;}
.fomrSbmt{font-size:0.8em;background-color: #00fea9;margin-bottom:3%; color:#000;padding: 2% 1%;border-radius: 0;border: 0;box-shadow: 0 0 2px 1px #444;}
.fomrSbmt:hover{background: #000;color: #FFF;border: none;text-shadow: 0 0 2px #00fea9, 0 0 5px #fff;}
.frmInpt, .cntcFrm textarea{background: #e6e6e6; padding:2%;margin: 2% 3%;font-size: 0.8em; border: 0;}
.imgCnt{width: 50%;height: auto;margin-top: 1%;}
.imgCnt img{width: 90%;height: auto;}
/*FOOTER*/
.ftr{color: #000;text-shadow:0 0 4px #969495;background:#fff;width: 99.9%;height: auto;display: flex;box-shadow: 0 -5px 4px 1px #ababab;padding-top: 2%;}
.ftrLft{width: 35%;height: auto;display:flex;flex-direction: column; align-items: center;justify-content: top;}
.ftrLftCont{display:flex;flex-direction: column;align-items: center;}
.ftrLbl{font-size: 1.6em;}.ftrBtn{text-decoration:none;color: #000;border: 1px solid #000;width: 50%;text-align: center;transition-duration: 0.7s;}
.ftrBtn:hover{background-color: #000; color:#fff;}
.ftrCnt{width: 35%;height: auto;line-height: 3em;display: flex;flex-direction: column;align-items: center;justify-content: top;}
.ftrCnt a{text-decoration: none;color: #000;font-size: 1.4em;}
.ftrRgt{width:30%; display: flex;align-items: center;flex-direction: column;justify-content: top;}
.ftrRgtCont{width: 100%;height: auto;}.ftrMedia{width: 90%;text-align:center;padding: 20px;}.ftrMedia a{text-decoration:none;font-size: 3.5em; color: #000;}
.ftrRgtCont img{margin-bottom: -2%; width:100%;filter: drop-shadow(0 0 8px  #000)drop-shadow(0 0 8px  #999);}
.ftrBnr{color: #dbedff;font-size: 2.2em;}.navElmnt{font-size:1.3em;text-decoration: none;color:#000;margin-right: 2%;padding: 11px;text-align:right; transition-duration: 0.8s;}
.navElmnt:hover{background-color: #000;color: #fff;}
.ftrRgtContMin{display: none;}
.ftrRgtContMin img{filter: drop-shadow(0 0 8px  #00fea9)drop-shadow(0 0 8px  #fff);}
/*LOGIN*/
.centerContainer{width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.frm{padding: 2%;box-shadow: 3px 5px 10px 1px #ababab;padding:4%;display: flex;align-items: center;flex-direction: column;}
.frm input{display: block;margin-bottom: 10%;font-size: 1.1em;width: 90%;border:none;padding: 2%;}

/*
#######
AUDIOPCK
#######
*/
.selectorCont{width: 100%;height: auto;display: flex;flex-direction: column;margin-top: 0;padding:0;}
.selectorContMain{width:96%;padding: 2%; height: auto;display: flex;justify-content: top;flex-direction: column;
background-image:linear-gradient(to right,rgba(240,240,240,0.1),rgba(240,240,240,0.8),rgb(255, 255, 255));}
.conMainTitl{text-align: center;font-size: 2.2em;}
.conMainTitl h1{margin-bottom: -2%;}
.conMainTitl h2{background-color: #000;color: #fff;}
.contMainTxt{float: center; font-size: 1.5em; text-align: center;}
.contMainTxt h5{font-size: 1.5em;}
.contMainTxt p{margin-bottom: 10%;}
.selContLst{display: flex;position: absolute;width: 90%;color:#fff;margin: 5%;}
.maLst{list-style:none;list-style-position: inside;}
.showCont{position: absolute;background-color: #0e0c0cf1;width: 90%;margin-top: 20%;}
.showCont a{line-height: 2.4em;}
.showCont p{padding: 0 4%;}
.closeFloat{float: right;text-decoration: none;color: #00fea9;}
.maLstA, .maLstB, .maLstC, .maLstD, .maLstE, .maLstF, .maLstG{
    text-align:center;left:15%;width: 70%;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;border-radius: 0px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;z-index: -10;position: absolute;}
#maLstA:target .maLstA, #maLstB:target .maLstB, #maLstC:target .maLstC, #maLstD:target .maLstD, #maLstE:target .maLstE,#maLstF:target .maLstF, #maLstG:target .maLstG {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;visibility: visible;z-index: 2;padding: 2% 0;}
/*
Acordeon
*/
.acordeon{display:flex;flex-direction: column ; align-items: center;}
.acordeonItm{width:100%; text-align: center;}
.acordeonItm h1{width: 100%;}
/*
FORMS
*/
.frmContainer{width: 100%;margin-top: 1%;border: 1px solid rgb(128, 0, 0);height: auto;padding: 3% 0;}
.formCont{width: 80%;margin-top: 1%;border: 1px solid rgb(0, 128, 28);height: auto;padding: 3% 0;display: flex;flex-direction: column;align-items: center;}
.audioForms{width: 100%;height: auto;margin-top: 1%; display:flex; flex-direction:column; align-items: center;text-align:center;}
.hideSelector{display:none;}
.aFrmCnt{border: 1px solid rgb(0, 102, 128);width: 100%;height: auto;padding: 3% 0; display:flex; flex-direction:column; align-items: center;text-align:center;}
.formInputCont{box-shadow:0 0 5px 1px #c6e4d9;border-radius: 5px;width:50%;padding:1%;  margin-top:1%;text-align:center;background-color: #c6e4d93d;}
.formInputCont select{border:none; padding: 1%;width: 30%;box-shadow:0 0 1px 1px #9effdf}
.frmBtn{border:none; padding: 1%;background:#91f8d6; box-shadow:0 0 5px 1px #c6e4d9;border-radius: 5px;}
.frmBtn:hover{background:#080e0c;color:#91f8d6;cursor: pointer;}
.formTxt{width:50%; text-align:center;}
.formTxt p{width: 50%;margin: 1% 25%;}
.formTxt textarea{background-color: #c6e4d93d;}
.chkSep{width: 100%;display: flex;flex-direction: row;}
.chkSepLft{width: 50%;padding: 2%;text-align: justify;}
.chkSepRgt{width: 50%;padding: 2%;text-align: justify;}
/*CHECKED*/



/*CHECKED-END*/
/*
MENU CIRCLE
*/
.sel_cont{
    display:flex;
    width: 30%;
    height: 25%;
    border-radius: 50%;
    position:relative;
    left: 35%;
    margin-top: 6%;
    margin-bottom: 10%;
  }
  .menu_circle-toggler {
    position: absolute;
    display: block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:40px;
    height:40px;
    z-index:99;
    opacity:0;
    cursor:pointer;
  }
  .menu_circle-toggler:hover + label{
    background: black;
    color:#fff;
    transition-duration: 1s;
  }

  .menu_circle-toggler:checked + label {
    background: black;
    color: transparent;
    transition-duration: 1s;
    width:40px;
    height: 5px;
  }
  .menu_circle-toggler:checked + label:before,
  .menu_circle-toggler:checked + label:after{
    top:0;
    width:20px;
    transform-origin: 50% 50%;
  }
  .menu_circle-toggler:checked + label:before {/*Cruz */
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu_circle-toggler:checked + label:after {/*Cruz */
    transform: rotate(-45deg);
    
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item { /*Elementos Menu*/
    opacity: 1;
  }
  .menu_circle-toggler:checked ~ ul .menu_circleB-item { /*Elementos Menu*/
    opacity: 1;
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(1) {
    transform: rotate(0deg) translate(-120%) translateY(40%);
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(2) {
   transform: rotate(60deg) translateX(-130%);
  }
  
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(3) {
    transform: rotate(120deg) translateX(-140%);
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110%);
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110%) translateY(-40%);
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(6) {
    transform: rotate(300deg) translateX(-150px);
  }
  .menu_circle-toggler:checked ~ ul .menu_circle-item:nth-child(7) {
    transform: rotate(300deg) translateX(100px);
  }
.lblMen{font-size: 0.4em;}

/*
B
*/
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(1) {
  transform: rotate(0deg) translateX(0) translateY(-150%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(2) {
 /*transform: rotate(60deg) translateX(-130%);*/
 transform: rotate(360deg) translateX(-130%) translateY(-90%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(3) {
  transform: rotate(360deg) translateX(130%) translateY(-90%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(4) {
  transform: rotate(360deg) translateX(-160%) translateY(30%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(5) {
  transform: rotate(360deg) translateX(160%) translateY(30%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(6) {
  transform: rotate(0deg) translateX(-80%) translateY(150%);
}
.menu_circle-toggler:checked ~ ul .menu_circleB-item:nth-child(7) {
  transform: rotate(0deg) translateX(80%) translateY(150%);
}
/*
B
*/

  .menu_circle-toggler:checked ~ ul .menu_circle-item a {
    pointer-events:auto;
  }
  .menu_circle-toggler:checked ~ ul .menu_circleB-item a {
    pointer-events:auto;
  }
  .menu_circle-toggler + label {
    width: auto;
    height: 40px;
    display: block;
    z-index: 1;
    border-radius: 25px;
    background: #60FFB5;
    box-shadow: 0 0 5px 1px #ababab;
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 2%;
  }

  .menu_circle-toggler + label:before,
  .menu_circle-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: transparent;
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu_circle-toggler + label:before {
    top: 10px;
  }
  .menu_circle-toggler + label:after {
    top: -10px;
  }
  .menu_circle-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu_circle-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu_circle-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu_circle-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu_circle-item:nth-child(5) a {
    transform: rotate(-240deg);
  }
  .menu_circle-item:nth-child(6) a {
    transform: rotate(-300deg);
  }
  .menu_circle-item, .menu_circleB-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu_circle-item a, .menu_circleB-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 38px;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #000, 0 0 8px #5f5f5f;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    background-color: #00fea98c;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu_circle-item a:hover, .menu_circleB-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: rgb(0, 212, 142);
    background: rgba(0, 0, 0, 0.3);
    font-size: 44.44px
  }




/*
DASHBOARD
*/
.dashboard{
  width: 90%;
  min-height: 70vh;
  margin: 5% 5%;
  display: flex;
  flex-direction: row;
}
.dashMenu{
  width: 20%;
  height: 100vh;
  background-color: #00fea9;
  color:#ffffff;
}
.dashOpt{
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
.dashOpt a{
  width: 100%;
  padding: 10% 20%;
  text-decoration: none;
  color: #ffffff;
}

.dashOpt a:hover{
  background-color: #1c926b;
  color: #ffffff;

}

.dashPanel{
  width: 80%;
  height: 100vh;
  text-align: center;
}


/*
#########PANEL
*/
.dash_container{
  width: 98%;
  height: 95vh;
}

#display_1, #display_2, #display_3, #display_4, #display_5{display: none;} 
#display_1:target, #display_2:target, #display_3:target, 
#display_4:target, #display_5:target{display: block;}

.dash_asside{width: 15%;margin:0 2%;}
.menu_container{width: 80%;}
.menu_item{text-align: center;}
.menu_item a{text-decoration: none;color: #000;}


.dash_panel{width:79%;margin:0 2%;position: relative;}
.panel_display{border: 1px solid rgb(114, 9, 9);width:90%; height:80vh;position: absolute;}
.panel_display_h{border: 1px solid rgb(9, 114, 9);width:90%; height:80vh;position: absolute;display:flex;flex-direction: column;}
.infoCard{background-color: #4f7c6691;color:#fff; width:auto;display:inline-block; margin:1%;text-align:center;}
.infoCard table tr td{border:1px dashed #000;}
/*
#########PANEL_END
*/